# Logs
logs
*.log
npm-debug.log*

# Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Dependências globais
node_modules/

# Build e caches
dist/
build/
firebase-debug.log
firebase-debug.*

# Credenciais locais
.env
