@font-face {
    font-family: Rambla-Bold;
    src: url(../fonts/Rambla-Bold.ttf) format('truetype'); /*/frontend/src/fonts/Rambla-Bold.ttf*/
    font-weight: 700;
}

@font-face {
    font-family: Rambla-Regular;
    src: url(../fonts/Rambla-Regular.ttf) format('truetype'); /*/frontend/src/fonts/Rambla-Regular.ttf*/
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype'); /*/frontend/src/fonts/Inter-VariableFont_opsz\,wght.ttf*/
    font-weight: 100 900;
}