* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Index */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #F5F7FA;
    height: 84px;
}

.cadeirante_icone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cadeirante_icone img {
    width: 35px;
    height: auto;
}

.titulo {
    display: flex;
    color: #015E20;
    font-family: "Rambla-Bold", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.navegacao {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navegacao a {
    color: #18191F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.navegacao a.ativo {
    color: #058530;
    font-weight: 600;
}

.navegacao a:hover {
    color: #058530;
}

.acoes {
    display: flex;
    list-style: none;
    gap: 34px;
    align-items: center;
}

.acoes a {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.botao_login {
    color: #015E20;
    background-color: #F5F7FA;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 77px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.botao_login:hover {
    background-color: #fafafa;
    color: #00822B;
}

.botao_cadastro {
    color: #FFFFFF;
    background-color: #015E20;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 125px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.botao_cadastro:hover {
    background-color: #00822B;
}

.conteudo_principal {
    background-color: #F5F7FA;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding-left: 120px;
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.frase {
    max-width: 580px;
}

.frase_principal {
    font-size: 64px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 1.1;
}

.frase_principal span {
    color: #015E20;
}

.paragrafo {
    font-size: 16px;
    color: #717171;
    margin-top: 16px;
    line-height: 1.5;
}

.botao_registro {
    color: #FFFFFF;
    background-color: #015E20;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 128px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.botao_registro:hover {
    background-color: #00822B;
}

.imagem_cidade {
    width: 650px;
    height: auto;
    margin-right: 0;
    object-fit: cover;
    align-self: flex-end;
    align-self: center;
}

.exemplos-1 {
    padding-top: 42px;
    background-color: #FFFFFF;
}

.funcionalidade {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
}

.subtitulo {
    display: flex;
    justify-content: center;
}

.demonstracao {
    display: inline-flex;
    align-items: center;
}

.imagem_cadastro {
    display: inline-flex;
    padding: 53px 80px;
}

.topicos_cadastro {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin-top: 16px;
    margin-left: 25px;
}

.visibilidade {
    background-color: #F5F7FA;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 144px;
}

.acessivel h2 {
    font-size: 32px;
    color: #18191F;
}

.acessivel span {
    color: #4CAF4F;
}

.acessivel p {
    font-size: 16px;
    color: #18191F;
    margin-top: 8px;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.icone-item {
    display: flex;
    align-items: center;
    gap: 12px;
}


.icone-item p {
    color: #717171;
    font-size: 14px;
}

.numero {
    font-size: 24px;
    font-weight: 700;
    color: #4D4D4D;
}

.exemplos-2 {
    background-color: #FFFFFF;
    padding-top: 48px;
}

.exploracao {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
    display: inline-flex;
    align-items: center;
}

.imagem_exploracao {
    display: inline-flex;
    padding: 53px 80px;
}

.exploracao_mapa {
    margin-left: 40px;
}

.topicos_exploracao {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin: 16px 60px;
}

.exemplos-3 {
    background-color: #F5F7FA;
    padding-top: 48px;
}

.solicitacao {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
    display: inline-flex;
    align-items: center;
}

.imagem_solicitacao {
    display: inline-flex;
    padding: 53px 80px;
}

.solicitacao_reclamacao {
    margin-left: 30px;
}

.topicos_solicitacao {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin: 16px 50px;
}

div h3 {
    color: #717171;
    font-size: 14px;
    margin-left: 30px;
}

.mudanca {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.frase_mudanca {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: #263238;
    text-align: center;
    margin-top: 52px;
}

.botao_mudanca {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #015E20;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 244px;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 32px;
}

.botao_mudanca:hover {
    background-color: #00822B;
}

.rodape {
    background-color: #263238;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 165px;
    margin-top: 32px;
}

.titulo_rodape {
    display: flex;
    color: #FFFFFF;
    font-family: "Rambla-Bold", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.copyright {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

/* Registro */

.container_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* padding: 0 50px; */
    font-family: "Inter", sans-serif;
}

.bem-vindo {
    background-color: #015E20;
    width: 984px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_container {
    width: 350px;
    height: 330px;
    background-color: #E8FFD7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecotrek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.apresentacao h1 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 42px;
}

.apresentacao p {
    font-size: 24px;
    font-weight: 200;
    margin-top: 16px;
}

.cadastre-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    width: 100%;
    max-width: 600px;
}

.cadastre-se h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.caixa_cadastro {
    display: flex;
    flex-direction: column;
}

.texto_cadastro {
    font-size: 13px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 16px;
}

.form_cadastro {
    background-color: #E5E5E5;
    margin-top: 16px;
    width: 360px;
    height: 48px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.form_cadastro::placeholder {
    font-size: 15px;
    padding: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.checkbox input {
    width: 16px;
    height: 16px;
}

.termo_checkbox {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    margin-left: 8px;
}

.termo_checkbox a {
    color: #007AFF;
    text-decoration: none;
}

.termo_checkbox a:hover {
    text-decoration: underline;
}

.botoes {
    display: flex;
    flex-direction: column;
}

#linha_horizontal {
    width: 360px;
    height: 1px;
    background-color: #E0E0E0;
    border: none;
    margin-top: 32px;
    opacity: 0.8;
}

.botao_criar {
    background-color: #015E20;
    color: #FFFFFF;
    margin-top: 32px;
    width: 360px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: background 0.3s ease;
}

.botao_criar:hover {
    background-color: #00822B;
    cursor: pointer;
}

.registro_google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #333333;
    margin-top: 32px;
    width: 360px;
    height: 40px;
    border-radius: 6px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.registro_google img {
    width: 20px;
    height: 20px;
}

/* Login */

.acessar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    width: 100%;
    max-width: 600px;
}

.form_login {
    background-color: #E5E5E5;
    margin-top: 16px;
    width: 360px;
    height: 48px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.form_login::placeholder {
    font-size: 15px;
    padding: 16px;
}

.texto_login {
    font-size: 13px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 16px;
}

.botao_logar {
    background-color: #015E20;
    color: #FFFFFF;
    margin-top: 32px;
    width: 360px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: background 0.3s ease;
}

.botao_logar:hover {
    background-color: #00822B;
    cursor: pointer;
}

.guardar_senha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.guardar_senha label:first-child {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.guardar_senha input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;
    border: 0.5px solid #E5E5E5;
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 1px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #00822B;
    /* verde EcoTrek */
}

input:checked+.slider::before {
    transform: translateX(18px);
}

.texto_lembrar {
    margin-right: 140px;
    font-size: 12px;
    color: #1A1A1A;
    cursor: pointer;
}

.esqueceu_senha {
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #007AFF;
    text-decoration: none;
}

.esqueceu_senha:hover {
    text-decoration: underline;
}

.crie_conta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    font-size: 13px;
}

.crie_conta a {
    color: #007AFF;
    text-decoration: none;
}

/* Mapa */

.form_mapa {
    display: flex;
    margin-top: 41px;
    gap: 40px;
    padding-left: 100px;
}

#map {
    width: 865px;
    height: 550px;
    border-radius: 8px;
}

.registrar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #4D4D4D;
    margin-top: 48px;
    padding-left: 100px;
}

.registrar p {
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    margin-top: 16px;
}

input {
    padding: 14px;
}

textarea {
    padding: 14px;
}

select {
    padding: 14px;
}

label:has(+input:required)::after {
    content: " *";
    color: #f55252;
    font-weight: 700;
}

label:has(+textarea:required)::after {
    content: " *";
    color: #f55252;
    font-weight: 700;
}

label:has(+select:required)::after {
    content: " *";
    color: #f55252;
    font-weight: 700;
}

.caixa_registro {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.texto_registro {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-top: 16px;
}

.escolha_registro {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

select:invalid {
    font-size: 14px;
    padding: 14px;
    color: #888;
}

option[value=""] {
    color: #888;
}

.form_registro {
    width: 320px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    margin-top: 6px;
}

.form_registro::placeholder {
    font-size: 14px;
    /* padding: 14px; */
}

#ocorrido {
    height: 130px;
    font-family: "Inter", sans-serif;

}

.botao_enviar {
    width: 320px;
    height: 50px;
    margin-top: 16px;
    background-color: #015E20;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.caixa_registro p {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    margin-top: 11px;
}

#modal,
#modal-recomp,
#modal-premio,
#modal-solic {
    padding: 40px 56px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 833px;
    height: 472px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-family: "Inter", sans-serif;
}

.titulo_revisao {
    font-family: "Inter", sans-serif;
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
}

.modal_registro {
    width: 320px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    margin-top: 6px;
}

#modal_ocorrido {
    width: 721px;
    height: 130px;
    font-family: "Inter", sans-serif;

}

.caixa_modal {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    margin-top: 32px;
}

#enviar {
    width: 320px;
    height: 40px;
    margin-top: 16px;
    background-color: #015E20;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin-left: auto;
}

.fechar-modal,
.fechar-recomp,
.fechar-premio,
.fechar-solic {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 56px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    /* Cor preta com 70% de opacidade */
}

/* Recompensas */

.titulo_recompensas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 48px;
    padding-left: 100px;
    font-family: "Inter", sans-serif;
}

.titulo_recompensas h1 {
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
}

.titulo_recompensas p {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

.icones_premios {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
    padding-left: 144px;
}

.progresso_container {
    width: 846px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 24px;
    overflow: hidden;
    margin-left: 100px;
    margin-top: 24px;
}

.progresso {
    width: 0%;
    height: 100%;
    background-color: #015E20;
    border-radius: 24px;
    transition: width 0.4s ease;
}

.barra_premios p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    margin-top: 16px;
    padding-left: 108px;
}

.caixas_info {
    display: flex;
    /* justify-content: center; */
    gap: 24px;
    margin-top: 80px;
    padding-left: 100px;
}

.info_texto {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.info_texto h3 {
    margin: 0;
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 600;
}

.info_texto p {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0 0 0;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: "Inter", sans-serif;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 389px;
    height: 173px;
}

.caixa button {
    background-color: #015E20;
    color: #FFFFFF;
    width: 158px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    align-self: flex-end;
    margin-top: 9px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.caixa button:hover {
    background-color: #00822B;
}

.conteudo_recomp h2 {
    font-family: "Inter", sans-serif;
    color: #0D0D0D;
    font-size: 18px;
    font-weight: 700;
}

.conteudo_recomp p {
    font-family: "Inter", sans-serif;
    color: #7A7773;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

button.btn_voltar,
button.btn_avancar {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, border-color 0.3s;
    flex-shrink: 0;
    z-index: 2;
}

button.btn_voltar:hover,
button.btn_avancar:hover {
    background-color: #f2f2f2;
}

.container_cards {
    position: relative;
    width: 655px;
    margin: 40px auto 0;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrossel-wrapper {
    overflow: hidden;
    width: 100%;
}


.cards {
    display: flex;
    gap: 16px;
    transition: transform 0.4s ease;
    will-change: transform;
}

.card {
    width: 240px;
    flex-shrink: 0;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    margin-top: 34px;
}

.card h3 {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.card p {
    color: #717171;
    font-size: 14px;
    margin-top: 8px;
}

.sub {
    font-weight: 600;
}

/* .card.ativo {
    border: 1px solid #FFBE20;
    background-color: #FFFFFF;
}

.card.ativo h3 {
    color: #005E20;
} */

.nivel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: #0D0D0D;
    font-weight: 600;
    font-size: 13px;
    border-radius: 999px;
    padding: 4px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
}

.nivel.ativo {
    background-color: #FFBE20;
}

button.indisponivel {
    width: 191px;
    height: 28px;
    background-color: #D9D9D9;
    color: #9B9898;
    border: none;
    border-radius: 6px;
    margin-top: 24px;
}

button.disponivel {
    width: 191px;
    height: 28px;
    background-color: #015E20;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin-top: 24px;
    cursor: pointer;
}

button.disponivel:hover {
    background-color: #00822B;
}

.card_ativo {
    width: 240px;
    flex-shrink: 0;
    border: 1px solid #FFBE20;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    margin-top: 34px;
}

.card_ativo h3 {
    color: #005E20;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.card_ativo p {
    color: #717171;
    font-size: 14px;
    margin-top: 8px;
}

.nivel_ativo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 10px;
    background-color: #FFBE20;
    color: #0D0D0D;
    font-weight: 600;
    font-size: 13px;
    border-radius: 999px;
    padding: 4px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.confetes {
    width: 833px;
    height: 472px;
}

.premio h2 {
    font-size: 22px;
    font-weight: 400;
    color: #717171;
}

.premio p {
    font-size: 18px;
    color: #717171;
    margin-top: 24px;
    margin-bottom: 24px;
}

.desconto {
    display: flex;
    align-items: center;
    margin: 0;
}

.desconto .valor {
    font-size: 78px;
    font-weight: 800;
    color: #015E20;
    margin-top: 23px;
}

.desconto .texto {
    font-size: 18px;
    font-weight: 500;
    color: #717171;
    margin-top: 63px;
}

.resgate {
    background-color: #015E20;
    color: #FFFFFF;
    width: 152px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 31px;
    /* padding: 8px 16px; */
    cursor: pointer;

}

.resgate:hover {
    background-color: #00822B;
}

.forma {
    width: 598px;
    height: 258px;
    margin: 30px;
    margin-left: 40px;
}

.modal_solic h1 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.novidades {
    margin-top: 50px;
}

.novidades h3 {
    margin-top: 32px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #3D4A5C;
}

.novidades p {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
}

.andamento {
    background-color: #FDF8E2;
    width: 114px;
    height: 20px;
    font-size: 12px;
    color: #947305;
    border-radius: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2px 6px;
    gap: 4px;
    cursor: pointer;
}

.aprovado {
    background-color: #E6F5EA;
    width: 114px;
    height: 20px;
    font-size: 12px;
    color: #037D25;
    border-radius: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2px 6px;
    gap: 4px;
    cursor: pointer;
}

.recusado {
    background-color: #FBEAED;
    width: 114px;
    height: 20px;
    font-size: 12px;
    color: #C4112F;
    border-radius: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2px 6px;
    gap: 4px;
    cursor: pointer;
}

/* FAQ */

.introducao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 48px;
    padding-left: 100px;
    font-family: "Inter", sans-serif;
}

.introducao h1 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.introducao p {
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    margin-top: 16px;
}

.informacoes {
    margin-top: 48px;
}

.caixa_duvidas {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px 16px;
    transition: all 0.3s ease;
    width: 1021px;
    font-weight: 600;
}

.duvidas {
    cursor: pointer;
    list-style: none;
}

.duvidas::after {
    content: "⌄";
    float: right;
    transition: transform 0.3s ease;
}

.caixa_duvidas[open] .duvidas::after {
    transform: rotate(180deg);
}
.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 3px;
}