* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Index */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #F5F7FA;
    height: 84px;
}

.cadeirante_icone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cadeirante_icone img {
    width: 35px;
    height: auto;
}

.titulo {
    display: flex;
    color: #015E20;
    font-family: "Rambla-Bold", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.navegacao {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navegacao a {
    color: #18191F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.navegacao a:hover {
    color: #058530;
}

.acoes {
    display: flex;
    list-style: none;
    gap: 34px;
    align-items: center;
}

.acoes a {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.botao_login {
    color: #015E20;
    background-color: #F5F7FA;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 77px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.botao_login:hover {
    background-color: #fafafa;
    color: #00822B;
}

.botao_cadastro {
    color: #FFFFFF;
    background-color: #015E20;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 125px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.botao_cadastro:hover {
    background-color: #00822B;
}

.conteudo_principal {
    background-color: #F5F7FA;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding-left: 120px;
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.frase {
    max-width: 580px;
}

.frase_principal {
    font-size: 64px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 1.1;
}

.frase_principal span {
    color: #015E20;
}

.paragrafo {
    font-size: 16px;
    color: #717171;
    margin-top: 16px;
    line-height: 1.5;
}

.botao_registro {
    color: #FFFFFF;
    background-color: #015E20;
    padding: 20px 10px;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 128px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.botao_registro:hover {
    background-color: #00822B;
}

.imagem_cidade {
    width: 650px;
    height: auto;
    margin-right: 0;
    object-fit: cover;
    align-self: flex-end;
    align-self: center;
}

.exemplos-1 {
    padding-top: 42px;
    background-color: #FFFFFF;
}

.funcionalidade {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
}

.subtitulo {
    display: flex;
    justify-content: center;
}

.demonstracao {
    display: inline-flex;
    align-items: center;
}

.imagem_cadastro {
    display: inline-flex;
    padding: 53px 80px;
}

.topicos_cadastro {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin-top: 16px;
    margin-left: 25px;
}

.visibilidade {
    background-color: #F5F7FA;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 144px;
}

.acessivel h2 {
    font-size: 32px;
    color: #18191F;
}

.acessivel span {
    color: #4CAF4F;
}

.acessivel p {
    font-size: 16px;
    color: #18191F;
    margin-top: 8px;
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.icone-item {
    display: flex;
    align-items: center;
    gap: 12px;
}


.icone-item p {
    color: #717171;
    font-size: 14px;
}

.numero {
    font-size: 24px;
    font-weight: 700;
    color: #4D4D4D;
}

.exemplos-2 {
    background-color: #FFFFFF;
    padding-top: 48px;
}

.exploracao {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
    display: inline-flex;
    align-items: center;
}

.imagem_exploracao {
    display: inline-flex;
    padding: 53px 80px;
}

.exploracao_mapa {
    margin-left: 40px;
}

.topicos_exploracao {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin: 16px 60px;
}

.exemplos-3 {
    background-color: #F5F7FA;
    padding-top: 48px;
}

.solicitacao {
    font-family: "Inter", sans-serif;
    font-size: 36;
    font-weight: 600;
    color: #4D4D4D;
    display: inline-flex;
    align-items: center;
}

.imagem_solicitacao {
    display: inline-flex;
    padding: 53px 80px;
}

.solicitacao_reclamacao {
    margin-left: 30px;
}

.topicos_solicitacao {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: #717171;
    margin: 16px 50px;
}

div h3 {
    color: #717171;
    font-size: 14px;
    margin-left: 30px;
}

.mudanca {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.frase_mudanca {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: #263238;
    text-align: center;
    margin-top: 52px;
}

.botao_mudanca {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #015E20;
    border-radius: 6px;
    transition: background 0.3s ease;
    width: 244px;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 32px;
}

.botao_mudanca:hover {
    background-color: #00822B;
}

.rodape {
    background-color: #263238;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 165px;
    margin-top: 32px;
}

.titulo_rodape {
    display: flex;
    color: #FFFFFF;
    font-family: "Rambla-Bold", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.copyright {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

/* Registro */

.container_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* padding: 0 50px; */
    font-family: "Inter", sans-serif;
}

.bem-vindo {
    background-color: #015E20;
    width: 984px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_container {
    width: 350px;
    height: 330px;
    background-color: #E8FFD7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ecotrek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.apresentacao h1 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 42px;
}

.apresentacao p {
    font-size: 24px;
    font-weight: 200;
    margin-top: 16px;
}

.cadastre-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 50px; */
    padding: 80px 100px;
    width: 100%;
    max-width: 600px;
}

.cadastre-se h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.caixa_cadastro {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 16px;
}

input {
    background-color: #E5E5E5;
    margin-top: 16px;
    width: 360px;
    height: 48px;
    border-radius: 6px;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 15px;
    padding: 16px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox input {
    width: 16px;
    height: 16px;
}

.botoes {
    display: flex;
    flex-direction: column;
}

#linha_horizontal {
    width: 360px;
    height: 1px;
    background-color: #E0E0E0;
    border: none;
    margin-top: 32px;
    opacity: 0.8;
}

.botao_criar {
    background-color: #015E20;
    color: #FFFFFF;
    margin-top: 32px;
    width: 360px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
    transition: background 0.3s ease;
}

.botao_criar:hover {
    background-color: #00822B;
    cursor: pointer;
}

.registro_google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #333333;
    margin-top: 32px;
    width: 360px;
    height: 40px;
    border-radius: 6px;
    transition: background 0.3s ease;
}